body {
    background-color: black;
    color: green;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 50px auto;
    display: flex; /* Используем flexbox для размещения блоков в строку */
}
.main-content {
    flex: 1; /* Основное содержимое занимает все доступное пространство */
    text-align: left;
}
.sidebar {
    width: 25%; /* Ширина боковой панели */
    background-color: black; /* Черный цвет фона боковой панели */
    padding: 20px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
}

