/* styles.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.frame {
    border: 2px solid #333;
    padding: 20px;
    width: 80%; /* Ширина рамки в процентах */
    text-align: justify;
    box-sizing: border-box;
    overflow: auto; /* Добавление полос прокрутки, если контент слишком длинный */
}
